<h1>Requirements:</h1>
<br>
<h2>Build a web application in Angular with the following features:</h2> 
<p>A sign-up form to gain access to the application – First Name, Last Name, Email (Username), Password
A sign-in form to gain access to the application (passwords must be stored securely)
A search form to submit calls to the https://openweathermap.org/api weather information API - It’s recommended that the calls go through your own API first, instead of directly from Angular
The form will take the following parameters as an input
City
A results view showing the weather information for that City, today and in the next 3 days<p>
<br>
<h2>Backend:</h2>
<p>A REST API hosted on IIS developed in WEB API 2 to handle signup and authentication.
User data should be stored in a MySQL / MariaDb database.</p>
<br>

<h3>Sign In/Sign Up Buttons</h3>

       <p>If you alrady have an account  <a routerLink="/signin" class="sign-in-btn">Sign In</a></p>
       <p>If you alrady have an account  <a routerLink="/signup"class="sign-up-btn">Sign Up</a></p>

